In [1]:
import pandas as pd
import numpy as np

In [2]:
# prep data
nb_datapoints = 100

dict_ = [{'a':a, 'b':b} for a,b in zip(np.random.rand(20), np.random.rand(20))]
df = pd.DataFrame({'val':dict_})

In [3]:
df.head()

                                                 val
0  {'a': 0.8884153870812355, 'b': 0.1404609900885...
1  {'a': 0.7713768034987468, 'b': 0.5838847105476...
2  {'a': 0.9171808358351362, 'b': 0.1919104327730...
3  {'a': 0.43577190133141896, 'b': 0.097952959944...
4  {'a': 0.12652844944426855, 'b': 0.294729797446...

In [4]:
# extracting values from dicts
df_out = df['val'].apply(pd.Series)

# can join or concatenate with the original column if needed

df_out.head()

          a         b
0  0.888415  0.140461
1  0.771377  0.583885
2  0.917181  0.191910
3  0.435772  0.097953
4  0.126528  0.294730